/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/03/2022, 10:57:54 AM
    Author     : monic
*/

body{
    background-color: #0d2d6d;
}
form{
    background-color: white;
    width: 40%;
    height: 35%;
    padding: 3%;
    margin: 5% 35% 3% 30%;
    
}
h1{
    text-align: center;
    text-decoration: underline #ea6a0e;
}
h2{
    text-align: justify;
}
output,input{
    text-align: center;
    display: block;
    font-size: medium;
    margin-left: 35%;
}
.boton{
    width: 30%;
    background-color:#ea6a0e;
    padding: 4%;
    font-weight: bold;
    
}